<%- include('includes/header') %> 
  <!-- header ends here -->
  
  <div class="container py-md-5 container--narrow">

    <%- include('includes/flash') %> 

    <a class="small font-weight-bold" href="/post/<%= post._id %>">&laquo; Back to post permalink</a>

    <form class = "mt-3" action="/post/<%= post._id %>/edit" method="POST" enctype="multipart/form-data">

      <div class="form-group">
        <label for="post-date" class="text-muted mb-1"><small>Date (Jan 01 |2020)</small></label>
        <input required name="date" value="<%= post.date %>" id="post-date" class="form-control form-control-md" type="date" placeholder="" autocomplete="off">
      </div>

      <div class="form-group">
        <label for="post-title" class="text-muted mb-1"><small>Title</small></label>
        <input required name="title" value="<%= post.title %>" id="post-title" class="form-control form-control-lg form-control-title" type="text" placeholder="" autocomplete="off">
      </div>

      <div class="form-group">
        <label for="post-short_desc" class="text-muted mb-1"><small>Short Description</small></label>
        <input required name="short_desc" value="<%= post.short_desc %>" id="post-short_desc" class="form-control form-control-sm" type="text" placeholder="" autocomplete="off">
      </div>

      <div class="form-group">
        <label for="post-body" class="text-muted mb-1"><small>Body Content</small></label>
        <p class="text-muted mb-1"><small><strong>Note:</strong> Long description supports Markdown. Find the markdown cheatsheet <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">here</a></small></p>
        <textarea rows="10" required name="body" id="post-body" class="body-content form-control" type="text"><%= post.body %></textarea>
      </div>

      <div class="form-group">
        <label for="post-venue" class="text-muted mb-1"><small>Venue</small></label>
        <input required name="venue" value="<%= post.venue %>" id="post-venue" class="form-control form-control-sm" type="text" placeholder="" autocomplete="off">
      </div>

      <div class="form-group">
        <label for="post-participants" class="text-muted mb-1"><small>No Of Participants</small></label>
        <input required name="participants" value="<%= post.participants %>" id="post-participants" class="form-control form-control-sm" type="text" placeholder="" autocomplete="off">
      </div>

      <label class="text-muted mb-1"><small>Uploaded Image</small></label> <br>
      <div class="form-group pl-2 border">
        <img id="output" src="/uploads/<%=post.fileName%>" onerror="this.onerror=null;width=0;height=0" alt="No Image Uploaded" class="form-control-sm mt-2" width="300" height="300">
        <div>
          <label for="post-img" class="mt-2 btn btn-sm btn-info">Change Image</label>
          <input onchange="loadFile(event)" name="img" id="post-img" style="display:none;" accept="image/*" class="form-control form-control-sm" type="file" placeholder="" autocomplete="off">
        </div>  
      </div>
      <button class="mt-3 btn btn-success">Save Updates</button>
    </form>
  </div>
  
<!-- footer begins -->
<%- include('includes/footer-img') %> 
